An experienced QA Automation engineer with a proven background in identifying, analyzing, 
supervising the solution of bugs, analyzing logs, performing first + deep failure analysis. 
Defining tests by strict following the feature requirements 
to create full traceability and effective coverage, preparing test plan documentation. 
Experienced to created exact test steps, by understanding all the interfaces and all required to make the test be executed. 
Developing automating tests and testing framework capabilities.

• Recognized as Critical Technical Talent to lead a task force - Data Collection Unit Recording capability for the automotive platform.
Definition comprehensive testing plan, research , manual execution, implementation of the automatic tests  (Python) and 
education of teammates.

• Experience in writing integration/automation tests and tools: Python, Java. 
• OS: Linux, Windows, RTOS (Nucleus, QNX), docker. 
• Development tools and IDE: Visual Studio, Visual Studio Code, PyCharm
• Management tools: JIRA, Confluence
• Experienced with tools:  Mobax, TeraTerm, NoMachine. 
• CI/CD: Jenkins, ReportPortal. 
• Cloud: AWS S3, REST API.
• Practical experience with Networking Protocols: (TCP, UDP).
• Writing testing documentation: STD, STP, HLD. 
• Experienced working in an Agile in Scrum teams. 
 
• Soft skills: Ability to see a feature as a part of the big system - ability to create block diagrams and has architectural attitude. Outbox thinking, team player, cooperative and sharing knowledge, committed to 
coverage and results in time. Committed to maintaining the existing and inventing new tests.

Link to GitHub (where I maintaining simple and nice self edu projects & consistently adding solutions to HackerRank challenges): https://github.com/ilanaRam